<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h3>{{ g }}</h3>
        <br>
        <template v-if="startId == 0">
            <div>
                <button :style="{backgroundColor: 'green',width: '100px',
                height:'55px'}" > </button><br>
                <button :style="{backgroundColor: 'gray',width: '100px',
                height:'55px'}" > </button><br>
                <button :style="{backgroundColor: 'gray',width: '100px',
                height:'55px'}" > </button>
            </div>
        </template>
        <template v-if="startId == 1">
            <div>
                <button :style="{backgroundColor: 'gray',width: '100px'
                ,height:'55px'}" > </button><br>
                <button :style="{backgroundColor: 'yellow',width: '100px'
                ,height:'55px'}" > </button><br>
                <button :style="{backgroundColor: 'gray',width: '100px'
                ,height:'55px'}" > </button>
            </div>
        </template>
        <template v-if="startId == 2">
            <div>
                <button :style="{backgroundColor: 'pink',width: '100px'
                ,height:'55px'}" > </button><br>
                <button :style="{backgroundColor: 'gray',width: '100px'
                ,height:'55px'}" > </button><br>
                <button :style="{backgroundColor: 'red',width: '100px'
                ,height:'55px'}" > </button>
            </div>
        </template>
        <br>
        <br>
        <button @click="clickButton()" >เปลี่ยนสี</button>
    </div>
    <div>
        <script>
            var app = new Vue({
            el: '#app',
            data : {
                g:'green',
                startId: 0,
                boxes: [{startId:0,color:'green'},{startId:1,color:'yellow'},
                {startId:2,color:'red'}]
            },
            methods: {
                clickButton: function(){
                        if(this.startId<=1){
                            this.startId=this.startId+1
                            this.g=this.boxes[this.startId].color
                        }else{
                            this.startId=this.startId-2
                            this.g=this.boxes[this.startId].color
                        }
                    }
                },

            computed: {

            },
        });
        </script>
    </div>
</body>
</html>