<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body> 
    <div id="app">
        <button @click="set('positive')" onclick="showPos(),pos()">+</button> 
        <button @click="set('deleteE')" onclick="showDel(),del()">-</button>
        <button @click="set('multiply')" onclick="showMul(),mul()">*</button>
        <button @click="set('divide')" onclick="showDiv(),div()">/</button>
        <br>
        <h1 id ="demo">การบวก</h1>
        <br>
        <input type="number" v-model="number1">
        <label id="demo1">+</label>
        <input type="number" v-model="number2">
        =
        <template v-if="message =='positive'">
            {{ positive }}
        </template>
        <template v-if="message =='deleteE'">
            {{ deleteE }}
        </template>
        <template v-if="message =='multiply'">
            {{ multiply }}
        </template>
        <template v-if="message =='divide'">
            {{ divide }}
        </template>
        <template v-if="message ==''">
            {{ positive }}
        </template>
        
    </div>
    <script>
        function showPos() {
        document.getElementById("demo").innerHTML = "การบวก";
        }
        function showDel() {
        document.getElementById("demo").innerHTML = "การลบ";
        }
        function showMul() {
        document.getElementById("demo").innerHTML = "การคูณ";
        }
        function showDiv() {
        document.getElementById("demo").innerHTML = "การหาร";
        }
    </script>
    <script>
        function pos() {
        document.getElementById("demo1").innerHTML = "+";
        }
        function del() {
        document.getElementById("demo1").innerHTML = "-";
        }
        function mul() {
        document.getElementById("demo1").innerHTML = "*";
        }
        function div() {
        document.getElementById("demo1").innerHTML = "/";
        }
    </script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                number1: 0,
                number2: 0,
                result: 0,
                message :'',
                operator: ''
            },
            methods: {
                set: function (str) {
                    this.message = str;
                }
            },
            computed:{
                positive : function() {
                    this.operator='+'
                    return parseInt(this.number1)+parseInt(this.number2);
                },
                deleteE : function() {
                    this.operator='-'
                    return parseInt(this.number1)-parseInt(this.number2);
                },
                multiply : function() {
                    this.operator='*'
                    return parseInt(this.number1)*parseInt(this.number2);
                },
                divide : function() {
                    this.operator='/'
                    return parseInt(this.number1)/parseInt(this.number2);
                }
            },
        }); 
    </script>
</body>
</html>